.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    align-items: flex-start;
    flex-wrap: wrap;
   background-color: blanchedalmond;   
}

.item1,.item2,.item3,.item4,.item5
{
align-self: center;

}
a
{
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
}

h1,p
{
    letter-spacing: 2px;
    word-spacing: 4px;
}
.logo
{
    height: 80px;
    width: 70px;
}

section
{
    margin: 50px;
}

.img1
{
    height: 400px;
    width: 400px;
    border-radius:200px;
}
